*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* body  */
body  {
    max-width: 100%;
}

/* utilities */
.clearfix::after  {
    content: '';
    display: table;
    clear: both;
}

.float  {
    float: left;
}

.font-sz08  {
    font-size: 0.8em;
}  

.a-blu  {
    color: #2577ff;
}

.bold  {
    font-weight: bold;
}

.brd  {
    border: 1px solid grey;
}

.relative  {
    position: relative;
}

/* padding */
.pdn-side1  {
    padding: 0 1em;
}

.pdn-right2  {
    padding-right: 2em;
}


/* margin */
.mrg2  {
    margin: 2em;
}
.mrg-top1  {
    margin-top: 1em;
}

.mrg-top2  {
    margin-top: 2em;
}

.mrg-top3  {
    margin-top: 3em;
}

.mrg-top10  {
    margin-top: 10em;
}

.mrg-top15  {
    margin-top: 15em;
}

/* width */
.wdt-30  {
    width: 30%;
}

.wdt-50  {
    width: 50%;
}

.wdt-60  {
    width: 60%;
}

.wdt-70  {
    width: 70%;
}

/* header  */
header  {
    width: 100%;
    margin-top: 4.02em;
    background-color: #b4d0e7;
}

li [class*=fa]  {
    display: inline-block;
}

/* navbar */
.navbar  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    line-height: 4.8em;
    font-size: 0.8em;
    background-color: white;
}

.brd-btm-hover:hover  {
    border-bottom: 3px solid black;
}

nav div:last-child  {
    text-align: right;
}

.navmenu,
.jumbo-li,
.li-none  {
    list-style: none;
}
.navmenu li  {
    display: inline-block;
    padding: 0 1em;
    
}

li a {
    text-decoration: none;
    color: black;
}

.logo  {
    vertical-align: middle;
}

.btn  {
    background-color: #0061ff;
    color: white;
    padding: 0.3em 1em;
}

/* jumbotron */
.jumbotron  {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}
h1  {
    font-size: 4.2em;
}

.jumbo-text  {
    width: 33%;
    margin-top: 2em;
}

.jumbo-li  {
    line-height: 2em;
    margin-top: 2em;
}

.jumbo-li:nth-last-child(2)  {
    font-size: 0.8em;
    margin-bottom: 2em;
}

.arrow-li  {
    font-size: 4em;
    margin: 0.5em 0 0.8em;
}
.jumbo  {
    position: absolute;
    width: 200%;
}

/* main */
main  {
    width: 65%;
    margin: 0 auto;
}

.col-mrg  {
    margin: 0 3.858em;
}

h2  {
    font-size: 2.8em;
    font-weight: bold;
}

.billing  {
    display: inline-block;
    margin: 3em 1em 1em 0;
}

.fa-circle:hover  {
    color: #0061ff;
}

.pack  {
    text-align: center;
    line-height: 2.8em;
    font-weight: 600;
    border-bottom: 1px solid grey;
}

.col-li-margin  {
    margin: 0 1.5em;
}

.col  {
    height: 75em;
    width: 30%;
    border: 1px solid grey;
}

.grey  {
    color: grey;
    margin-bottom: 3em;
}

.col-content > li {
    margin-bottom: 2em;
}

.btn-try  {
    margin: 4em 0 2em;
    line-height: 1.5em;
}

.btn-try .btn  {
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

li h3  {
    font-weight: bold;
    font-size: 2em;
    line-height: 2.5em;
}

hr  {
    margin: 3em 0;
    width: 18%;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.fa-check  {
    color: #0061ff;
}

/* second section */

h3 ~ a  {
    text-decoration: none;
    text-align: center;
    line-height: 2em;
}

div > h3  {
    font-size: 2em;
}

h4  {
    line-height: 3em;
    margin-bottom: 1em;
}

/* third section */
h3 ~ p  {
    line-height: 2em;
    margin: 1em 0;
}

.pdn-partner  {
    padding: 3em 3em 0 3em;
}

button  {
    border: 1px solid;
    padding: 0.5em 1em;
    background-color: white;
}