*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* body  */
body  {
    max-width: 100%;
}

/* utilities */
.clearfix::after  {
    content: '';
    display: table;
    clear: both;
}

.float  {
    float: left;
}

.float-r  {
    float: right;
}

.invert  {
    filter: invert(100%);
}

.font-sz08  {
    font-size: 0.8em;
}  

.a-blu  {
    color: #2577ff;
}

.bold  {
    font-weight: bold;
}

.brd  {
    border: 1px solid grey;
}

.relative  {
    position: relative;
}

/* padding */
.pdn-side1  {
    padding: 0 1em;
}

.pdn-right2  {
    padding-right: 2em;
}


/* margin */
.mrg2  {
    margin: 2em;
}

.mrg-side5  {
    margin: 0 5%;
}

.mrg-btm1  {
    margin-bottom: 1em;
}

.mrg-top1  {
    margin-top: 1em;
}

.mrg-top2  {
    margin-top: 2em;
}

.mrg-top3  {
    margin-top: 3em;
}

.mrg-top5  {
    margin-top: 5em;
}

.mrg-top10  {
    margin-top: 10em;
}

.mrg-top15  {
    margin-top: 15em;
}

/* width */
.wdt-5  {
    width: 5%;
}
.wdt-15  {
    width: 15%;
}

.wdt-20  {
    width: 20%;
}

.wdt-25  {
    width: 25%;
}

.wdt-30  {
    width: 30%;
}


.wdt-50  {
    width: 50%;
}

.wdt-60  {
    width: 60%;
}

.wdt-65  {
    width: 65%;
}

.wdt-70  {
    width: 70%;
}

.wdt-100  {
    width: 100%;
}

/* header  */
header  {
    width: 100%;
    margin-top: 4.02em;
    background-color: #b4d0e7;
}

li [class*=fa]  {
    display: inline-block;
}

/* navbar */
.navbar  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    line-height: 4.8em;
    font-size: 0.8em;
    background-color: white;
}

.brd-btm-hover:hover  {
    border-bottom: 3px solid black;
}

nav div:last-child  {
    text-align: right;
}

.navmenu,
.jumbo-li,
.li-none  {
    list-style: none;
}
.navmenu li  {
    display: inline-block;
    padding: 0 1em;
    
}

li a {
    text-decoration: none;
    color: black;
}

.logo  {
    vertical-align: middle;
}

.btn  {
    background-color: #0061ff;
    color: white;
    padding: 0.3em 1em;
}

/* jumbotron */
.jumbotron  {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}
h1  {
    font-size: 4.2em;
}

.jumbo-text  {
    width: 33%;
    margin-top: 2em;
}

.jumbo-li  {
    line-height: 2em;
    margin-top: 2em;
}

.jumbo-li:nth-last-child(2)  {
    font-size: 0.8em;
    margin-bottom: 2em;
}

.arrow-li  {
    font-size: 4em;
    margin: 0.5em 0 0.8em;
}
.jumbo  {
    position: absolute;
    width: 200%;
}

/* main */
.container  {
    width: 65%;
    margin: 0 auto;
}

.col-mrg  {
    margin: 0 3.858em;
}

h2  {
    font-size: 2.5em;
}

.billing  {
    display: inline-block;
    margin: 3em 1em 1em 0;
}

.fa-circle:hover  {
    color: #0061ff;
}

.pack  {
    text-align: center;
    line-height: 2.8em;
    font-weight: 600;
    border-bottom: 1px solid grey;
}

.col-li-margin  {
    margin: 0 1.5em;
}

.col  {
    height: 75em;
    width: 30%;
    border: 1px solid grey;
}

.grey  {
    color: grey;
    margin-bottom: 3em;
}

.col-content > li {
    margin-bottom: 2em;
}

.btn-try  {
    margin: 4em 0 2em;
    line-height: 1.5em;
}

.btn-try .btn  {
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

li h3  {
    font-weight: bold;
    font-size: 2em;
    line-height: 2.5em;
}

hr  {
    margin: 3em 0;
    width: 18%;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.fa-check  {
    color: #0061ff;
}

/* second section */

h3 ~ a  {
    text-decoration: none;
    text-align: center;
    line-height: 2em;
}

div > h3  {
    font-size: 2em;
}

h4  {
    line-height: 3em;
    margin-bottom: 1em;
}

/* third section */
.pdn-partner p  {
    line-height: 2em;
    margin: 1em 0;
}

.pdn-partner  {
    padding: 3em 3em 0 3em;
}

button  {
    border: 1px solid;
    padding: 0.5em 1em;
    background-color: white;
}

/* fourth section */
p > a  {
    color: black;
}

/* fifth section */
h2 ~ a  {
    font-weight: 600;
    color: #0061ff;
    line-height: 4em;
}

/* left squares */
.square  {
    width: 50%;
    background-color: #a2d39b;
    border: 0.8em solid #d0e9cd;
}

.square2  {
    width: 50%;
    background-color: #61082b;
    position: absolute;
    top: 0;
    right: 0;
}

.square3  {
    width: 50%;
    background-color: #0093ce;
}

.square4  {
    width: 50%;
    background-color: #ff1c1c;
    position: absolute;
    bottom: 0;
    right: 0;
}

.designit  {
    width: 100%;
    padding: 6em 3em;
}

.arizona  {
    width: 100%;
    padding: 6em 4em;
}

.florida  {
    width: 100%;
    padding: 6em 3em;
}

.topps  {
    width: 100%;
    padding: 4.8em 3em;
}

.central-square  {
    background-color: #f5f5f5;
    padding: 3em;
}

p  ~ span  {
    display: inline-block;
    margin: 2em 0 4em;
}

/* right squares */
.r-square  {
    width: 50%;
    background-color: #d5001f;
}

.r-square2  {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #b4d0e7;
}

.r-square3  {
    width: 50%;
    background-color: #0d2481;
}

.r-square4  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: #ffd830;
}

.bicycle  {
    width: 100%;
    padding: 6em 3em;
}

.hearst  {
    width: 100%;
    padding: 7em 3em;
}

.lonely  {
    width: 100%;
    padding: 5em 3em;
}

.clear  {
    width: 100%;
    padding: 5em 4em;
}

/* free try */
.free-try  {
    background-color: #b4d0e7;
    margin: 0 auto;
}

.free-try h2  {
    margin: 4em 6em 4em 0;
    color: #61082b;
}

.free-try a  {
    margin-top: 10em;
    width: 28%;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    line-height: 2.5em;
}

/* faq */
.container > h3  {
    padding: 4em 0 1em 0;
    border-bottom: 1px solid lightgray;
}

h3 ~ ul  {
    line-height: 5em;
    font-weight: bold;
}

.faq li  {
    border-bottom: 1px solid lightgray;
}

.fa-chevron-down  {
    padding: 2em;
}
